/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $source;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  font-size: 0.9em;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  padding: 12px 24px 12px 50px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

  &.centered {
      
      background-image: none;
      padding: 12px 24px 12px 24px;
      text-align: center;
  }

  &.full {
      width: 100%;
  }

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.btn-white {
    @extend %btn;
     background-color: $white;
     background-image: url(../images/icon-arrow.png);
     background-repeat: no-repeat;
     background-position: 20px 50%;

    &:hover,
    &:focus {
       color: $black;
      background-color: darken($white, 10%);
    } // end hover

    &:active {
       color: $black;
      background-color: darken($white, 14%);
    } // end active
}

.btn-red {
    @extend %btn;
      color: $white;
     background-color: $red;
     background-image: url(../images/icon-arrow-white.png);
     background-repeat: no-repeat;
     background-position: 20px 50%;

    &:hover,
    &:focus {
       color: $white;
      background-color: darken($red, 4%);
    } // end hover

    &:active {
       color: $white;
      background-color: darken($red, 5%);
    } // end active
}

.btn-black {
    @extend %btn;
      color: $white;
     background-color: $black;
     background-image: url(../images/icon-arrow-white.png);
     background-repeat: no-repeat;
     background-position: 20px 50%;

    &:hover,
    &:focus {
       color: $white;
      background-color: lighten($black, 20%);
    } // end hover

    &:active {
      color: $white;
      background-color: lighten($black, 20%);
    } // end active
}

.btn-transparent {
    @extend %btn;
    color: $text-color;
     background-color: transparent;
     background-image: url(../images/icon-arrow.png);
     background-repeat: no-repeat;
     background-position: 0px 50%;
     padding-left: 26px;

     &.light {
      opacity: .6;
     }

    &:hover,
    &:focus {
       color: darken($gray, 4%);
      background-color: transparent;
    } // end hover

    &:active {
       color: $gray;
      background-color: transparent;
    } // end active
}


.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button
